################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Debug
/prokaryote_fanse_quant/Release
/prokaryote_fanse_quant/Debug
/.vs
/prokaryote_fanse_quant.sdf
