################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Debug
/prokaryote_fanse_quant/Release
/prokaryote_fanse_quant/Debug
/.vs
/prokaryote_fanse_quant.sdf
/x64/Debug/prokaryote_fanse_quant.pdb
/x64/Debug/prokaryote_fanse_quant.ilk
/x64/Debug/prokaryote_fanse_quant.exe
/x64/Release/prokaryote_fanse_quant.pdb
/x64/Release/prokaryote_fanse_quant.ipdb
/x64/Release/prokaryote_fanse_quant.iobj
/x64/Release/prokaryote_fanse_quant.exe
/prokaryote_fanse_quant/x64/Debug/prokaryo.34E32021.tlog
/prokaryote_fanse_quant/x64/Release/vc141.pdb
/prokaryote_fanse_quant/x64/Release/prokaryote_fanse_quant.log
/prokaryote_fanse_quant/x64/Release/prokaryo.34E32021.tlog/prokaryote_fanse_quant.write.1u.tlog
/prokaryote_fanse_quant/x64/Release/prokaryo.34E32021.tlog/prokaryote_fanse_quant.lastbuildstate
/prokaryote_fanse_quant/x64/Release/prokaryo.34E32021.tlog/link.write.1.tlog
/prokaryote_fanse_quant/x64/Release/prokaryo.34E32021.tlog/link.read.1.tlog
/prokaryote_fanse_quant/x64/Release/prokaryo.34E32021.tlog/link.command.1.tlog
/prokaryote_fanse_quant/x64/Release/prokaryo.34E32021.tlog/CL.write.1.tlog
/prokaryote_fanse_quant/x64/Release/prokaryo.34E32021.tlog/CL.read.1.tlog
/prokaryote_fanse_quant/x64/Release/prokaryo.34E32021.tlog/CL.command.1.tlog
/prokaryote_fanse_quant/x64/Release/prokaryo.34E32021.tlog
/prokaryote_fanse_quant/x64/Release/main.obj
/prokaryote_fanse_quant/x64/Release
/prokaryote_fanse_quant/x64/Debug/vc141.pdb
/prokaryote_fanse_quant/x64/Debug/vc141.idb
/prokaryote_fanse_quant/x64/Debug/prokaryote_fanse_quant.log
/prokaryote_fanse_quant/x64/Debug/main.obj
/prokaryote_fanse_quant/2.log
/prokaryote_fanse_quant/2-rpkm.txt
/prokaryote_fanse_quant/1.log
/prokaryote_fanse_quant/1.fanse3
/prokaryote_fanse_quant/1-rpkm.txt
/prokaryote_fanse_quant/GCF_000005845.2_ASM584v2_genomic.gff
